<section id="detail" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="wow fadeInLeft col-md-4 col-sm-4" data-wow-delay="0.3s">
                <i class="fa {{ this.theme.detail_box1_icon }}"></i>
                <h3>{{ this.theme.detail_box1_title }}</h3>
                <p>{{ this.theme.detail_box1_content }}</p>
            </div>

            <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="0.6s">
                <i class="fa {{ this.theme.detail_box2_icon }}"></i>
                <h3>{{ this.theme.detail_box2_title }}</h3>
                <p>{{ this.theme.detail_box2_content }}</p>
            </div>

            <div class="wow fadeInRight col-md-4 col-sm-4" data-wow-delay="0.9s">
                <i class="fa {{ this.theme.detail_box3_icon }}"></i>
                <h3>{{ this.theme.detail_box3_title }}</h3>
                <p>{{ this.theme.detail_box3_content }}</p>
            </div>

        </div>
    </div>
</section>