<section id="overview" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.6s">
                <h3>{{ this.theme.overview_title }}</h3>
                <p>{{ this.theme.overview_content|nl2br }}</p>
            </div>

            <div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.9s">
                <img src="{{ 'assets/images/overview-img.jpg'|theme }}" class="img-responsive" alt="Overview">
            </div>

        </div>
    </div>
</section>