<section id="register" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="wow fadeInUp col-md-7 col-sm-7" data-wow-delay="0.6s">
                <h2>Register Here</h2>
                <h3>Nunc eu nibh vel augue mollis tincidunt id efficitur tortor. Sed pulvinar est sit amet tellus iaculis hendrerit.</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet consectetuer diam nonummy.</p>
            </div>

            <div class="wow fadeInUp col-md-5 col-sm-5" data-wow-delay="1s">
                <form action="#" method="post">
                    <input name="firstname" type="text" class="form-control" id="firstname" placeholder="First Name">
                    <input name="lastname" type="text" class="form-control" id="lastname" placeholder="Last Name">
                    <input name="phone" type="telephone" class="form-control" id="phone" placeholder="Phone Number">
                    <input name="email" type="email" class="form-control" id="email" placeholder="Email Address">
                    <div class="col-md-offset-6 col-md-6 col-sm-offset-1 col-sm-10">
                        <input name="submit" type="submit" class="form-control" id="submit" value="REGISTER">
                    </div>
                </form>
            </div>

            <div class="col-md-1"></div>

        </div>
    </div>
</section>