<section id="venue" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="wow fadeInLeft col-md-offset-1 col-md-5 col-sm-8" data-wow-delay="0.9s">
                <h2>Venue</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
                <h4>New Event</h4>
                <h4>120 Market Street, Suite 110</h4>
                <h4>San Francisco, CA 10110</h4>
                <h4>Tel: 010-020-0120</h4>
            </div>

        </div>
    </div>
</section>